<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello React</title>
</head>
<body>
<div id="app">
<pre><%= JSON.stringify(htmlWebpackPlugin, null, '\t') %></pre>
<% htmlWebpackPlugin.files.js.forEach(function(bundle) { %>
    <script src="<%= bundle %>"></script>
<% }); %>
</body>
</html>